.jfx-tab-pane .tab-header-area {
    -fx-padding: 0 -15 0 15;
}

.jfx-tab-pane .tab {
    -fx-padding: 20 20 0 20;
    -fx-pref-height: 64;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #1a535c;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #1a535c;
}

.jfx-tab-pane .tab-header-area .control-buttons-tab .tab-down-button {
    -fx-background-color: #1a535c;
}